[phases.setup]
nixPkgs = ["php82", "php82Packages.composer", "nodejs_20", "npm-9_x"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build"
]
